<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"

        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="ATRACKER"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MainActivityTheme"
        tools:targetApi="31"
        >
        <activity
            android:name=".TimetableAdapter"
            android:exported="false" />
        <activity
            android:name=".SubjectAdapter"
            android:exported="false" />
        <activity
            android:name=".SubjectActivity"
            android:theme="@style/MainActivityTheme"
            android:exported="false" />
        <activity
            android:name=".TimetableActivity"
            android:theme="@style/MainActivityTheme"
            android:exported="false" />
        <activity
            android:name=".ReportActivity"
            android:theme="@style/MainActivityTheme"
            android:exported="false" />
        <activity
            android:name=".AttendanceActivity"
            android:theme="@style/MainActivityTheme"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/MainActivityTheme"
            android:exported="false" /> <!-- suppress AndroidDomInspection -->
        <activity
            android:name=".splash"
            android:exported="true"
            android:theme="@style/SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/MainActivityTheme"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/MainActivityTheme"
            android:exported="true" />

    </application>

</manifest>